<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <style>
    body{
      background-color: black;
      margin:0;
      padding:0;
    }
    .btn{
      background-color: #222;
      color: #777;
      padding: 6px 15px;
      border: none;
      border-radius: 6px;
      outline: none;
      cursor: pointer;
    }
    input{
      background-color: #333;
      color: #aaa;
      border: thin solid #222;
      padding: 3px 2px;
    }
    .red-bg{
      background-color:#411;
    }
  </style>
  <script src="./commons.js"></script>
</head>
<body>
  <div id="root">

    <div style="position:fixed; width:100%;">
      <button class="btn" @click="toggleInformation">
        information
      </button>
      <button class="btn" @click="moveTime(-6)">
        -6h
      </button>
      <button class="btn" @click="nowTime" v-show="!timer">
        now
      </button>
      <button class="btn" @click="moveTime(6)">
        +6h
      </button>
      <button class="btn" @click="toggleSettings">
        Settings
      </button>
      <div v-if="extraIsVisible == 'information'" style="background-color:rgba(0,0,0,0.85); padding:20px 5px; color:grey"> 
        <h3>General Information</h3>
        <p><strong>Basiclly this is a clock. It's real time, and slow moving.</strong> Would work great as a background, new tab, maybe a device face.</p>
        <p><strong>Has geolocation</strong>: you should have a magenta dot for where you are.</p>
        <p><strong>It tells the time of the day.</strong> your location on a spinning globe.</p>
        <p><strong>Tells the day of the year.</strong> direction globe is illuminated.</p>
        <p><strong>The shadow changes shape</strong>, in the winter the arctic never gets the daylight, in the summer the artic never gets nighttime.</p>
        <p>Instead of drawing a twilight area, the size of your dot is about how much sky you can see. It takes that long for dawn/dusk.</p>
        <dl>
          <dt>These planets are the ones you can see without a telesscope:</dt>
          <dd>☿ Mercury</dd>
          <dd>♀ Venus</dd>
          <dd>♂ Mars</dd>
          <dd>♃ Jupiter</dd>
          <dd>♄ Saturn</dd>
        </dl>
        <dl>
          <dt>Next up:</dt>
          <dd>Zodiac constellations</dd>
          <dt>What about <em>xyz</em> Timezone or <em>Daylight savings</em></dt>
          <dd>The app's official position is that timezones are dumb, and daylight savings is even more dumb. The 'clock markings' represet sun-time, not Earth time. You can find the zenith of the sun, but that may not be noon where you are. That is not the purpose of this clock.</dd>
          <dt>Disclaimers:</dt>
          <dd>None of this is to scale.</dd>
          <dd>Yes, my math could be better, objects could be up a degree or two off (depending on day of year), but these erros should be small until beyond 2050.</dd>
        </dl>
      </div>
      <div v-if="extraIsVisible == 'settings'" style="background-color:rgba(0,0,0,0.85); padding: 20px 5px; color:grey;">
        <div>
          <label>
            <input type="checkbox" v-model="settings.moonToggle">
            <span>Show moon</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" v-model="settings.clockToggle">
            <span>Show clock markings</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" v-model="settings.pinPathToggle">
            <span>Show pin path</span>
          </label>
        </div>
        <div>
            <label>
              <input type="checkbox" v-model="settings.planetToggle">
              <span>Show planets</span>
            </label>
          </div>
        <dl v-for="(location,key) in locations" :key="key">
          <dt>
            <span>{{key}}</span>
            <button :class="['btn', locationToDelete==key && 'red-bg']" @click="deleteLocation(key)" >&cross;</button>
          </dt>
          <dd><input v-model="location.lat" /></dd>
          <dd><input v-model="location.long" /></dd>
          <dd><input v-model="location.color" /></dd>
        </dl>
        <dl>
          <dt>
            <input placeholder="name" v-model="newLocation.name" />
            <button class="btn" @click="addLocation">Add</button>
          </dt>
          <dd><input placeholder="coordinates from google" v-model="newLocation.coord" /></dd>
          <dd><input placeholder="color" v-model="newLocation.color" /></dd>
        </dl>
        <button class="btn" @click="saveLocalPin">local pin</button>
      </div>
      
  </div>
  
  

  <svg height="800" width="100%" :view-box.camel="viewBoxString">
    <defs>
      <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4">
        <rect width="5" height="5" style="fill:rgba(0,0,0,0.2);" />
        <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" style="stroke:rgba(0,0,0,0.4); stroke-width:1" />
      </pattern>

      <clipPath id="winter">
        <ellipse cx="400" cy="400" rx="200" :ry="Math.abs(shadowEllipseHeight)" id="winterNightEllipse"/>
        <path d="M200,400 a1,1 0 0,0 400,0" />
      </clipPath>

      <mask id="summer">
        <circle cx="400" cy="400" r="200" fill="white"></circle>
        <ellipse cx="400" cy="400" rx="200" :ry="Math.abs(shadowEllipseHeight)" fill="black" id="summerNightEllipse"></ellipse>
        <path d="M200,400 a1,1 0 0,1 400,0" fill="black"></path>
      </mask>
    </defs>
    
    <image width="400" height="400" x="200" y="200" xlink:href="./earth3.png" id="cartoonEarth" :transform="timeBasedRotation"/>

    <g id="locationPins" fill="rgba(255,255,255,0.0)" 
    stroke-width="2" 
    :transform="timeBasedRotation">
      <g v-for="(location,i) in locations" :key="i" :stroke="location.color" >
        <circle 
          :cx="latLongToX(location)"
          :cy="latLongToY(location)"
          r="5" stroke-width="3"></circle>
        <circle  cx="400" cy="400"  stroke-width="1" stroke-opacity="0.8" stroke-dasharray="5,5"
          :r="pinLoop(location)"
          v-show="settings.pinPathToggle"></circle>
      </g>
    </g>
  
    <g :transform="dayBasedRotation">
      <rect width="400" height="400" x="200" y="200" 
        v-if="shadowEllipseHeight > 0"
        fill="url(#diagonalHatch)" 
        clip-path="url(#winter)" 
        id="winterNight" />
      <rect width="400" height="400" x="200" y="200" 
        v-else
        fill="url(#diagonalHatch)" 
        mask="url(#summer)" 
        id="summerNight" />
    </g>

    <g id="hourMarkers" :transform="dayBasedRotation" v-show="settings.clockToggle">
      <g id="interval-l" >
        <g id="interval-m">
          <path d="M190,400 l10,-2 0,4 Z" fill="rgba(255,255,255,0.5)"></path>
          <circle cx="202" cy="400" r="3" fill="rgba(255,255,255,0.5)"></circle>
          <line x1="200" x2="600" y1="400" y2="400" stroke-width="1" stroke="rgba(255,255,255,0.1)"></line>
          <circle cx="599" cy="400" r="3" fill="rgba(255,255,255,0.5)"></circle>
          <path d="M611,400 l-10,-2 0,4 Z" fill="rgba(255,255,255,0.5)"></path>
        </g>
        <g id="interval-s" transform="rotate(15 400 400)">
          <path d="M200,400 l-4,-4 0,8 Z" fill="rgba(255,255,255,0.4)"></path>
          <path d="M600,400 l4,-4 0,8 Z" fill="rgba(255,255,255,0.4)"></path>
        </g>
        <g id="interval-s" transform="rotate(30 400 400)">
          <path d="M200,400 l-4,-4 0,8 Z" fill="rgba(255,255,255,0.4)"></path>
          <path d="M600,400 l4,-4 0,8 Z" fill="rgba(255,255,255,0.4)"></path>
        </g>
        <g id="interval-s" transform="rotate(45 400 400)">
          <path d="M200,400 l-4,-4 0,8 Z" fill="rgba(255,255,255,0.4)"></path>
          <path d="M600,400 l4,-4 0,8 Z" fill="rgba(255,255,255,0.4)"></path>
        </g>
      </g>'
      <g transform="rotate(60 400 400)">
          <use xlink:href='#interval-l'/>
      </g>
      <g transform="rotate(120 400 400)">
          <use xlink:href='#interval-l'/>
      </g>
    </g>

    <g v-show="settings.moonToggle">
      <circle id="moon" 
        cx="0" cy="0" r="55" 
        fill="#777" 
        :transform="moonScreenPos"></circle>
      <path id="moonShadow" 
        d="M-55,0 a1,1 0 0,0 110,0" 
        fill="url(#diagonalHatch)"
        :transform="moonShadowScreenPos"></path>
      <path d="M0,-55 L0,55" 
        stroke-width="2" stroke="black" stroke-opacity="0.8" stroke-dasharray="6,4"
        :transform="moonVisibleLineScreenPos"></path>
    </g>

    <g v-show="settings.planetToggle">
      <g v-for="(planet,name) in planets" :key="name"
        :transform="planetScreenPos(name)">
        <circle cx="0" cy="0" r="10" stroke-width="1" stroke-dasharray="2,2" stroke="white" fill="none"></circle>
        <text x="-5" y="5" fill="white">{{planet.char}}</text>
      </g>
    </g>
    


  </svg>
</div>


<script type="text/javascript">
  window.onfocus = () => app.wakeup();
  var app = new Vue({
    el: '#root',
    data(){
      const d = new Date();//new Date('3 21, 2018 00:00:0000 GMT+00:00'); //new Date();//
      return {
        exactDay: d,
        stableQuarterDay: this.findQuarterDay(d),
        earthRadiusPx: 200,
        locations: {},
        timer: undefined,
        extraIsVisible: '',
        settings:{
          clockToggle: true,
          pinPathToggle: false,
          moonToggle: true,
          planetToggle: true,
        },
        newLocation:{
          name: '',
          coord: '',
          color: '',
        },
        locationToDelete: null,
        locationToDeleteTimer: null,
      }
    },
    mounted(){
      if(localStorage.getItem('clock_cities') !== null){
        this.locations = JSON.parse(localStorage.getItem('clock_cities'))
      }else{
        this.saveLocalPin();
      }
      if(localStorage.getItem('clock_settings') !== null){
        this.settings = JSON.parse(localStorage.getItem('clock_settings'))
      }
      this.timer = setInterval( () => {
        this.exactDay = new Date();
      }, 20*1000);
    },
    watch:{
      exactDay(newDay, oldDay){
        let d = this.findQuarterDay(newDay);
        if(this.stableQuarterDay !== d) this.stableQuarterDay = d;
      },
    },
    computed:{
      solarEarth(){
        let sEarth = sunBasedPosition(earth, this.stableQuarterDay);
        let sun = {x:0,y:0,z:0};
        sEarth.ra = earthBasedPosition(sun, sEarth).ra;
        return sEarth;
      },
      dayBasedRotation(){
        return `rotate(${-270-this.solarEarth.ra} 400 400)`;
      },
      timeBasedRotation(){
        let partialDayHrs = mod( (this.exactDay.getTime() - J2000ms)/(1000*60*60), 24);
        let earthRot =  mod(-90 - this.solarEarth.ra - (partialDayHrs*15), 360);
        return `rotate(${earthRot} 400 400)`;
      },
      shadowEllipseHeight(){
        //var dayOfYear = this.stableQuarterDay - this.findQuarterDay(new Date(this.exactDay.getFullYear(), 0, 0));
        //console.log('season thing', -cos( this.solarEarth.ra ));
        return this.earthRadiusPx * 0.235 * -sin( this.solarEarth.ra );
      },
      geoCentricMoon(){
        var moon = moonPosition(this.exactDay.getTime()/msPerDay - J2000dy);
        moon.screenX = 400 + 345 * cos(-moon.ra);
        moon.screenY = 400 + 345 * sin(-moon.ra);
        return moon;
      },
      moonScreenPos(){
        return `translate(${this.geoCentricMoon.screenX}, ${this.geoCentricMoon.screenY})`
      },
      moonShadowScreenPos(){
        return `translate(${this.geoCentricMoon.screenX}, ${this.geoCentricMoon.screenY}), rotate(${-270-this.solarEarth.ra} 0 0)`;
      },
      moonVisibleLineScreenPos(){
        return `translate(${this.geoCentricMoon.screenX}, ${this.geoCentricMoon.screenY}), rotate(${(360-this.geoCentricMoon.ra)})`;
      },
      planets(){
        let obj = {};
        for(i in planets){
          let solarPos = sunBasedPosition(planets[i], this.stableQuarterDay);
          obj[i] = earthBasedPosition(solarPos, this.solarEarth);
          obj[i].screenX = 400 + 390 * cos(-obj[i].ra);
          obj[i].screenY = 400 + 390 * sin(-obj[i].ra);
        }
        return obj;
      },
      viewBoxString(){
        if(this.settings.planetToggle){
          return '0 0 800 800';
        }
        if(this.settings.moonToggle){
          let x = (Math.min(200, this.geoCentricMoon.screenX-55) + Math.max(600, this.geoCentricMoon.screenX+55))/2 - 300;
          let y = (Math.min(200, this.geoCentricMoon.screenY-55) + Math.max(600, this.geoCentricMoon.screenY+55))/2 - 300;
          return `${x} ${y} 600 600`;
        }
        return '175 175 450 450';
      },
    },
    methods:{
      wakeup(){
        this.exactDay = new Date();
        clearInterval(this.timer);
        this.timer = setInterval( () => {
          this.exactDay = new Date();
        }, 20*1000);
      },
      findQuarterDay(d){
        return +((Math.round(d.getTime() / msPerDay * 4)/4).toFixed(2)) - J2000dy;
      },
      planetScreenPos(p){
        return `translate(${this.planets[p].screenX || 0}, ${this.planets[p].screenY || 0})`;
      },
      latLongToX(location){
        let theta = (90-location.long) * Math.PI / 180;
        let radius = 192 * (1 - (location.lat/90));
        return 400 + radius * Math.cos(theta);
      },
      latLongToY(location){
        let theta = (90-location.long) * Math.PI / 180;
        let radius = 192 * (1 - (location.lat/90));
        return 400 + radius * Math.sin(theta);
      },
      pinLoop(location){
        return 192 * (1 - (location.lat/90));
      },
      saveLocalPin(){
        navigator.geolocation.getCurrentPosition( pos => {
          console.log('geolocation of user:', pos);
          this.$set(this.locations, 'local', {
            lat: pos.coords.latitude,
            long: pos.coords.longitude,
            color: 'magenta',
          });
          localStorage.setItem('clock_cities', JSON.stringify(this.locations));
        });
      },
      toggleInformation(){
        if(this.extraIsVisible !== 'information') this.extraIsVisible = 'information';
        else this.extraIsVisible = '';
      },
      toggleSettings(){
        if(this.extraIsVisible !== 'settings') this.extraIsVisible = 'settings';
        else this.extraIsVisible = '';
        localStorage.setItem('clock_cities', JSON.stringify(this.locations));
        localStorage.setItem('clock_settings', JSON.stringify(this.settings));
      },
      addLocation(){
        let coordPeices = this.newLocation.coord.match(/([0-9.]*)° ([NS]), ([0-9.]*)° ([EW])/);
        if(coordPeices != null){
          console.log(coordPeices);
          this.$set(this.locations, this.newLocation.name || 'pin', {
            lat: +coordPeices[1] * (coordPeices[2]=='N' ? +1 : -1),
            long: +coordPeices[3] * (coordPeices[4]=='E' ? +1 : -1),
            color: this.newLocation.color || 'red',
          });
        }else{
          this.$set(this.locations, this.newLocation.name || 'pin', {
            lat: 0,
            long: 0,
            color: this.newLocation.color || 'red',
          });
        }
        localStorage.setItem('clock_cities', JSON.stringify(this.locations));
        this.newLocation = {name: '',coord: '',color: ''};
      },
      deleteLocation(key){
        this.$delete(this.locations, key);
        localStorage.setItem('clock_cities', JSON.stringify(this.locations));
      },
      moveTime(hours){
        if(this.timer){
          clearInterval(this.timer);
          this.timer = undefined;
        }
        let d = new Date();
        d.setTime(this.exactDay.getTime() + (hours*60*60*1000));
        this.exactDay = d;
      },
      nowTime(){
        this.exactDay = new Date();
        this.timer = setInterval( () => {
          this.exactDay = new Date();
        }, 20*1000);
      },
      deleteLocation(key){
        clearTimeout(this.locationToDeleteTimer);
        if(this.locationToDelete == key){
          this.$delete(this.locations, key);
          localStorage.setItem('clock_cities', JSON.stringify(this.locations));
          this.locationToDelete = null;
          return;
        }
        this.locationToDelete = key;
        this.locationToDeleteTimer = setTimeout(()=>{
          this.locationToDelete = null;
        }, 800);
      }
    }
  });

</script>
</body>
</html>